<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xioshe.less.url.repository.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.github.xioshe.less.url.entity.Role">
    <!--@mbg.generated-->
    <!--@Table lu_role-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="enabled" jdbcType="BOOLEAN" property="enabled" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `name`, description, enabled, created_at, updated_at, version
  </sql>

  <select id="listEnabledRolesByUserId" resultMap="BaseResultMap">
      select r.id, r.code, r.name, r.description
      from lu_role r
               left join lu_user_role ur on r.id = ur.role_id
      where ur.user_id = #{userId}
        and r.enabled = true
  </select>
</mapper>